Flask
Flask-SQLAlchemy
Flask-Login
Flask-SocketIO
gunicorn
psycopg2-binary
pytz
requests
Flask-Caching
nltk
scikit-learn
google-auth-oauthlib
google-auth
Authlib
langchain
langchain-openai
langchain-anthropic
langchain-core
pydantic
APScheduler
openai
emoji
Flask-APScheduler
SQLAlchemy
python-dotenv
eventlet
